body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-text {
    font-size: 15px;
    font-weight: normal;
}

#highscore:hover {
    opacity: .5;
}

main {
    margin-left: 25%;  
    margin-right: 25%;
    text-align: center;
}

.main-header {
    font-weight: bold;
    font-size: 26px;
}

.main-paragraph {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#start {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#pointer {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

button:hover {
    opacity: .5;
    background-color: lightblue;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-button1, .answer-button2, .answer-button3, .answer-button4 {
    background-color: gray;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px; 
}