body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-text {
    font-size: 15px;
    font-weight: normal;
}

#view-highscore:hover {
    opacity: .5;
}

main {
    margin-left: 25%;  
    margin-right: 25%;
    text-align: center;
}

.main-header {
    font-weight: bold;
    font-size: 26px;
}

.main-paragraph {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#start {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#start {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

button:hover {
    opacity: .5;
    background-color: lightblue;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-button1, .answer-button2, .answer-button3, .answer-button4 {
    background-color: gray;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#previous {
    font-weight: bold;
}

#high-scores {
    display: none;
}

#initials {
 background-color: lightgray;
}

#initials-button {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#initials-button:hover {
    opacity: .5;
    background-color: lightblue;
}

/* High-Scores page */

#high-score-header {
        font-weight: bold;
        font-size: 26px;
}

#players {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#players li {
    font-size: 15px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#go-home {
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#score-list {
    border-style: dashed;
    border-color: darkgray;
    padding-left: 250px;
    padding-right: 250px;
}